---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import Link from "../components/Link.astro";
import Button from "../components/Button.astro";
import phone from "../assets/images/lucide_phone.svg";
import mail from "../assets/images/lucide_mail.svg";
import Saks from "../assets/images/kontakt_saks.gif";
import billede from "../assets/images/stemingsbillede.webp";
---
<MainLayout title="Kontakt">
    <div class="mx-10 lg:mx-20 text-brun-900">
        <div class="flex items-center mt-10 lg:mt-20 mb-6 lg:mb-24">
            <!-- Border Grafik -->
            <div class="flex-grow border-t border-brun-900 min-w-6"></div>
            <h1
            class="text-4xl lg:text-6xl uppercase px-[16px]">
            Kontakt
            </h1>
            <!-- Border Grafik -->
            <div class="flex-grow border-t border-brun-900 min-w-6"></div>
        </div>

        <div class="lg:grid lg:grid-cols-2 lg:gap-36">
            <div>
                <section id="Kontakt os" class="mb-5">
                    <h2 class="text-3xl lg:text-5xl uppercase mb-11 lg:mb-6">Kontakt os</h2>
                    <div class="text-sm lg:text-base mb-4">
                        <p>Har du spørgsmål eller lignende, så kontakt mig.</p>
                        <p>Du er også velkommen til at kigge forbi.</p>
                    </div>
                
                        <address class="not-italic flex flex-col gap-3.5">
                            <div>
                                <p class="text-brun-900 text-sm lg:text-base font-normal normal-case">Blågårdsgade 17</p>
                                <p class="text-brun-900 text-sm lg:text-base font-normal normal-case">2200 København N</p>
                            </div>
                        </address>

                        <h3 class="text-sm lg:text-base uppercase mt-4 mb-6">Kontakt mig via:</h3>
                        <div class="flex flex-col gap-5 lg:flex-row lg:gap-16">
                            <Link href="tel:+4535350080" class="transition-transform duration-200 active:scale-105 hover:scale-105 text-brun-900 text-sm lg:text-base font-normal normal-case flex items-center gap-4">
                                <Image src={phone} alt="Ikon af telefon der linker til opkald" loading="lazy"></Image>
                                <p class="capitalize">Tlf. 3535 0080</p>
                            </Link>
                            <Link href="mailto:Vedstedcamilla@gmail.com" class="transition-transform duration-200 active:scale-105 hover:scale-105 text-brun-900 text-sm lg:text-base font-normal normal-case flex items-center gap-4">
                                <Image src={mail} alt="Ikon af mail der linker til email" loading="lazy"></Image>
                                <p class="capitalize">Vedstedcamilla@gmail.com</p>
                            </Link>
                        </div>
                </section>

                <section id="saksen">
                    <div class="flex items-center">
                    <div class="flex-grow border-t border-brun-900"></div>
                    <span class="px-4 max-w-[110px] items-center">
                        <Image
                        class="max-w-[40px]"
                        src={Saks}
                        alt="Saks der bevæger sig"
                        loading="lazy"
                        />
                    </span>
                    <div class="flex-grow border-t border-brun-900"></div>
                    </div>
                </section>

                <Image
                class="mt-3.5 rounded-[5px] hidden lg:block"
                src={billede}
                alt="Stemningsbillede af salonen"
                loading="lazy"
                />
            </div>

            <section id="email_form" class="mt-6 lg:mt-0">
                <form name="kontakt" method="POST" data-netlify="true" netlify-honeypot="bot_field">
                    <input type="hidden" name="form-name" value="kontakt" />
                    <input type="hidden" name="bot_field" />

                    <div class="mb-9">
                        <label for="name" class="text-brun-900 text-base lg:text-2xl uppercase">Navn <span class="text-red-700">*</span></label>
                        <input type="text" id="name" name="name" required class="mt-5 h-14 rounded-[5px] shadow-md shadow-brun-900/50 border-none text-brun-900 text-sm lg:text-base focus:ring-brun-500 focus:border-brun-500 w-full p-2.5 placeholder:text-brun-900/30" placeholder="Skriv dit fulde navn"/>
                    </div>

                    <div class="mb-9">
                        <label  for="email" class="text-brun-900 text-base lg:text-2xl uppercase">Email <span class="text-red-700">*</span></label>
                        <input type="email" id="email" name="email" required class="mt-5 h-14 rounded-[5px] shadow-md shadow-brun-900/50 border-none text-brun-900 text-sm lg:text-base focus:ring-brun-500 focus:border-brun-500 w-full p-2.5 placeholder:text-brun-900/30" placeholder="Skriv din email"/>
                    </div>

                    <div class="mb-9">
                        <label for="phone" class="text-brun-900 text-base lg:text-2xl uppercase">Telefonummer <span class="text-red-700">*</span></label>
                        <input type="tel" id="phone" name="phone" pattern="^(\+45\s?)?\d{8}$" required class="mt-5 h-14 rounded-[5px] shadow-md shadow-brun-900/50 border-none text-brun-900 text-sm lg:text-base focus:ring-brun-500 focus:border-brun-500 w-full p-2.5 placeholder:text-brun-900/30" placeholder="Skriv dit telefon nummer"/>
                    </div>

                    <div>
                        <label for="message" class="text-brun-900 text-base lg:text-2xl uppercase">Besked <span class="text-red-700">*</span></label>
                        <textarea id="message" name="message" required class="field-sizing-content mt-5 min-h-[200px] rounded-[5px] shadow-md shadow-brun-900/50 border-none text-brun-900 text-sm lg:text-base focus:ring-brun-500 focus:border-brun-500 w-full p-2.5 placeholder:text-brun-900/30" placeholder="Skriv din besked her"></textarea>
                    </div>
                
                    <div class="mt-8 mb-14">
                        <Button type="submit">Send besked</Button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</MainLayout>

<style>
    h1, h2, h3, label {
    font-family: outfit;
    font-weight: 700;
  }
  p {
    font-family: agrandir;
  }

  input::placeholder, textarea::placeholder {
  font-family: agrandir;
}
</style>