---

---
<div class="flex justify-center items-center md:px-6 py-20">
  <div class="grid lg:grid-cols-[1fr_3fr] w-full max-w-5xl gap-10 md:gap-20">
    <!-- Venstre: Titel -->
    <div class="flex items-center justify-center">
      <h3 class="text-brun-900 text-outfit text-4xl md:text-6xl font-bold leading-tight text-center uppercase">Åbningstider</h3>
    </div>

    <!-- Højre: Tabel -->
    <div class="w-full min-w-[150px] font-agrandir">
      <div class="grid grid-cols-2">
        <!-- Rækker -->
        <div class="border-b border-brun-900 py-3">
          <p class="text-brun-900 text-2xl md:text-3xl">Mandag</p>
        </div>
        <div class="border-b border-brun-900 py-3 text-right">
          <p class="text-brun-900 text-2xl md:text-3xl">Lukket</p>
        </div>

        <div class="border-b border-brun-900 py-3">
          <p class="text-brun-900 text-2xl md:text-3xl">Tirsdag</p>
        </div>
        <div class="border-b border-brun-900 py-3 text-right">
          <p class="text-brun-900 text-2xl md:text-3xl">10.00 – 18.00</p>
        </div>

        <div class="border-b border-brun-900 py-3">
          <p class="text-brun-900 text-2xl md:text-3xl">Onsdag</p>
        </div>
        <div class="border-b border-brun-900 py-3 text-right">
          <p class="text-brun-900 text-2xl md:text-3xl">10.00 – 18.00</p>
        </div>

        <div class="border-b border-brun-900 py-3">
          <p class="text-brun-900 text-2xl md:text-3xl">Torsdag</p>
        </div>
        <div class="border-b border-brun-900 py-3 text-right">
          <p class="text-brun-900 text-2xl md:text-3xl">10.00 – 19.00</p>
        </div>

        <div class="border-b border-brun-900 py-3">
          <p class="text-brun-900 text-2xl md:text-3xl">Fredag</p>
        </div>
        <div class="border-b border-brun-900 py-3 text-right">
          <p class="text-brun-900 text-2xl md:text-3xl">10.00 – 18.00</p>
        </div>

        <div class="border-b border-brun-900 py-3">
          <p class="text-brun-900 text-2xl md:text-3xl">Lørdag</p>
        </div>
        <div class="border-b border-brun-900 py-3 text-right">
          <p class="text-brun-900 text-2xl md:text-3xl">09.00 – 13.00</p>
        </div>

        <div class="border-b border-brun-900 py-3">
          <p class="text-brun-900 text-2xl md:text-3xl">Søndag</p>
        </div>
        <div class="border-b border-brun-900 py-3 text-right">
          <p class="text-brun-900 text-2xl md:text-3xl">Lukket</p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  h3 {
    font-family: outfit;
    font-weight: 700;
  }

  p {
    font-family: agrandir;
  }
</style>