---
// Henter parametrene fra Astro.props
const {href= "", target ="", variant = "lb", size = "size", ...rest} = Astro.props;

//Alle knapper
const linkStyling = "rounded-[1.875rem] font-outfit font-bold uppercase";

//Forskellige knapper (farver o.lign.)
const variantClasses = {
  db: "border border-2 border-brun-25 text-brun-25 hover:bg-brun-25 hover:text-brun-800 hover:duration-300 focus:outline-none focus:ring-2 focus:ring-brun-25",
  lb: "border border-2 border-brun-800 text-brun-800 hover:bg-brun-800 hover:text-brun-25 hover:duration-300 focus:outline-none focus:ring-2 focus:ring-brun-800",
};

//Forskellige størrelser
const sizeClasses = {
  size: "px-8 py-4 text-sm lg:px-12 lg:py-4 lg:text-base", 
};
---

<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<a href={href} target={target} class:list={[linkStyling, variantClasses[variant],
  sizeClasses[size], rest.class]} {...rest}>
  <slot />
</a>

<style>
	a {
		font-family: outfit;
    font-weight: 700;
	}
</style>