---
const { service="", pris="", } = Astro.props;
---
<span class="flex justify-between pb-4 border-b border-brun-900 mb-6">
    <p class="text-base lg:text-2xl">{service}</p>
    <p class="text-base lg:text-2xl">{pris}</p>
</span>

<style>
    p {
        font-family: agrandir;
    }
</style>